* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
}

body {
    width: 100%;
    height: 100vh;

    background-color: #131212;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in-out;
}